In [1]:
#dictionary
#-indexed
#-Duplicate values
#-Ordered
#-Mutable

In [2]:
d=dict()
d={}

In [3]:
d={"a":"apple","b":"ball"}
d

{'a': 'apple', 'b': 'ball'}

In [4]:
d['b']

'ball'

In [5]:
d = {"a":"apple","b":"ball","A":"apple"}
d

{'a': 'apple', 'b': 'ball', 'A': 'apple'}

In [6]:
d = {"A":"apple","b":"ball","A":"Apple"}
d

{'A': 'Apple', 'b': 'ball'}

In [7]:
d = {"a":"apple","b":"ball","A":"apple"}
d['c'] = 'Cat'
d

{'a': 'apple', 'b': 'ball', 'A': 'apple', 'c': 'Cat'}

In [8]:
d = {"a":"apple","b":"ball","A":"apple"}
d['a'] = 'Apple'
d

{'a': 'Apple', 'b': 'ball', 'A': 'apple'}

In [9]:
d={}
d['a']="Apple"
d['b']="Ball"
d

{'a': 'Apple', 'b': 'Ball'}

In [10]:
d={}
n=int(input("Enter n= "))
for i in range(n):
    name=input("Enter name= ")
    phone=int(input("Enter phone= "))
    d[name]=phone
    
print(d)

Enter n= 2
Enter name= Amuu
Enter phone= 9840260759
Enter name= Aish
Enter phone= 9866663124
{'Amuu': 9840260759, 'Aish': 9866663124}

In [11]:
d = {'Ram': '9808778765', 'Shyam': '980878765'}
for i in d:
    print(i)

Ram
Shyam

In [12]:
d = {'Ram': '9808778765', 'Shyam': '980878765'}
for i in d.values():
    print(i)

9808778765
980878765

In [13]:
d = {'Ram': '9808778765', 'Shyam': '980878765'}
for i in d.items():
    print(i)

('Ram', '9808778765')
('Shyam', '980878765')

In [15]:
l=[]
d = {'Ram': '9808778765', 'Shyam': '980878765'}
for i in d.items():
    l.append
    print(i)

('Ram', '9808778765')
('Shyam', '980878765')

In [16]:
dict(l)

{}

In [17]:
#del
d = {'Ram': '9808778765', 'Shyam': '980878765'}
del d['Ram']
d

{'Shyam': '980878765'}

In [18]:
d = {'Ram': '9808778765', 'Shyam': '980878765'}
c=d.pop('Ram')
print(c)
print(d)

9808778765
{'Shyam': '980878765'}

In [2]:
#List inside dictionary
d = {'Ram':['984778765','9848432148'],'Shyam':['980878765','98329327623]}
d

SyntaxError: EOL while scanning string literal (2926128160.py, line 2)

In [3]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name")
    ntc_phone = input("Enter ntc phone")
    ncell_phone = input("Enter ncell phone")
    d[name] = [ntc_phone,ncell_phone]

Enter n = 1
Enter nameAm
Enter ntc phone9840260759
Enter ncell phone9808989899

In [4]:
d = {'Ram': ['9878778654', '9808778765'], 'Shyam': ['9867667634', '9808667640']}
d['Hari'] = ['980878765','9808667654']
d

{'Ram': ['9878778654', '9808778765'],
 'Shyam': ['9867667634', '9808667640'],
 'Hari': ['980878765', '9808667654']}

In [5]:
d = {'Ram': ['9878778654', '9808778765'], 'Shyam': ['9867667634', '9808667640']}
d['Shyam'].append('9808778765')
d

{'Ram': ['9878778654', '9808778765'],
 'Shyam': ['9867667634', '9808667640', '9808778765']}

In [6]:
d = {'name':['Ram','Shyam','Hari'],'age':[64,89,43],'add':['Kathmandu','Bhaktapur','Lalitpur']}
d

{'name': ['Ram', 'Shyam', 'Hari'],
 'age': [64, 89, 43],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur']}

In [7]:
d = {'name':['Ram','Shyam','Hari'],'age':[64,89,43],'add':['Kathmandu','Bhaktapur','Lalitpur']}

d['name'].append('Puskar')
d['age'].append(45)
d['add'].append('Bara')
d

{'name': ['Ram', 'Shyam', 'Hari', 'Puskar'],
 'age': [64, 89, 43, 45],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Bara']}

In [8]:
# dict inside list
l = [{'name':'Ram','age':45,'add':'Kathmandu'},
    {'name':'Rama','age':41,'add':'Bara'},
    {'name':'Shyam','age':48,'add':'Bara'}]
l

[{'name': 'Ram', 'age': 45, 'add': 'Kathmandu'},
 {'name': 'Rama', 'age': 41, 'add': 'Bara'},
 {'name': 'Shyam', 'age': 48, 'add': 'Bara'}]

In [9]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d = {'name':name,'age':age,'add':add}
    l.append(d)
    
l

Enter n = 2
Enter name = Anish
Enter age = 21
Enter add = Thali
Enter name = Pranish
Enter age = 12
Enter add = Thankot

[{'name': 'Anish', 'age': 21, 'add': 'Thali'},
 {'name': 'Pranish', 'age': 12, 'add': 'Thankot'}]

In [10]:
l[0]['name'] = "Rama"

In [12]:
del l[0]
l

[]

In [13]:
# dict inside dict
d = {1:{"name":"Ram","grade":"A"},
    2:{"name":"Hari","grade":"B"},
    3:{"name":"Sita","grade":"C"}}
d

{1: {'name': 'Ram', 'grade': 'A'},
 2: {'name': 'Hari', 'grade': 'B'},
 3: {'name': 'Sita', 'grade': 'C'}}

In [14]:
d = {}
d[1]={"name":"Ram","grade":"A"}
d[2] = {"name":"Hari","grade":"B"}
d

{1: {'name': 'Ram', 'grade': 'A'}, 2: {'name': 'Hari', 'grade': 'B'}}

In [15]:
d = {1:{"name":"Ram","grade":"A"},
    2:{"name":"Hari","grade":"B"},
    3:{"name":"Sita","grade":"C"}}
d[1]['name']

'Ram'