In [1]:
# file = open('<file_path>','<mode>')
# file.close()

In [2]:
# with open('file_name>','<mode>') as file:
#     <operations>

In [3]:
# mode
# read -> 'r'
# create -> 'x'
# write -> 'w'
# append -> 'a'

In [4]:
try:
    file=open('new_file.txt','x')
    file.close()
except:
    print("The file is already created.")

In [6]:
#Read file
file=open('new_file.txt','r')
x=file.read()
print(x)
print(type(x))
file.close()

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
<class 'str'>

In [7]:
n=int(input("Enter n= "))
x.split('\n')[n-1]

Enter n= 2

'Hello World'

ValueError: invalid mode: 'l'

In [11]:
with open('data.txt','w') as file:
    file.write('Hello World')

In [12]:
s=""
n=int(input("Enter n= "))
for i in range(n):
    name=input("Enter name= ")
    age=int(input("Enter age= "))
    add=input("Enter add= ")
    s=s+f"{name} {age} {add}\n"

with open('data.txt','w')as file:
    file.write(s)

Enter n= 2
Enter name= Amrit
Enter age= 23
Enter add= India
Enter name= Paras
Enter age= 20
Enter add= Dharan

In [13]:
s=str()
n=int(input("Enter n= "))
for i in range(n):
    name=input("Enter name= ")
    price=int(input("Enter price= "))
    quantity=int(input("Enter quantity= "))
    total=price*quantity
    bill=f"{name} {price} {quantity} {total}\n"
    s=s+bill
    
print(s)
with open('data.txt','w') as file:
    file.write(s)

Enter n= 3
Enter name= Apple
Enter price= 200
Enter quantity= 3
Enter name= Mango
Enter price= 500
Enter quantity= 4
Enter name= Litchi
Enter price= 600
Enter quantity= 2
Apple 200 3 600
Mango 500 4 2000
Litchi 600 2 1200

In [14]:
#csv file
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = f"{name},{price},{quantity},{total}\n"
    s = s+bill
    
print(s)
with open('data.csv','w') as file:
    file.write('Name,Price,Quantity,Total\n')
    file.write(s)

Enter n = 2
Enter name = Momo
Enter price = 150
Enter quantity = 2
Enter name = Coke
Enter price = 260
Enter quantity = 2
Momo,150,2,300
Coke,260,2,520

In [16]:
#pip install pandas
import pandas as pd
df = pd.read_csv('data.csv')
df

   Name  Price  Quantity  Total
0  Momo    150         2    300
1  Coke    260         2    520

In [17]:
import csv
a = [['Name','Price','Quantity','Total'],
     ['Momo',200,3,600],
     ['Coke',100,2,200]]
with open('bill.csv','w') as file:
    x = csv.writer(file)
    x.writerows(a)

In [18]:
import csv
data = []
with open('bill.csv','r') as file:
    reader = csv.DictReader(file)
    for i in reader:
        data.append(i)
        
data

[{'Name': 'Momo', 'Price': '200', 'Quantity': '3', 'Total': '600'},
 {'Name': 'Coke', 'Price': '100', 'Quantity': '2', 'Total': '200'}]

In [19]:
file = open('data.csv','r')
x = file.read()
y = x.split('\n')
print(y)
file.close()

['Name,Price,Quantity,Total', 'Momo,150,2,300', 'Coke,260,2,520', '']

In [20]:
all_result=[]
for i in y[0:-1]:
    all_result.append(i.split(','))
    
all_result

[['Name', 'Price', 'Quantity', 'Total'],
 ['Momo', '150', '2', '300'],
 ['Coke', '260', '2', '520']]

In [21]:
import csv
a=['Pizza',200,4,800]
with open('bill.csv','a')as file:
    x=csv.writer(file)
    x.writerow(a)