In [2]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\aaishka\anaconda3\lib\site-packages (2.2.9)

In [4]:
import mysql.connector             #importing database
database=mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
db=database.cursor()
db.execute("CREATE DATABASE pythons1")

In [10]:
import mysql.connector             #importing database
database=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="class8am"
)
db=database.cursor()

In [11]:
db.execute("SELECT * FROM student")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 90.0, 92.0, 89.0, 93.0, 87.0, 450, 89.0, 'A+')
(2, 'Shyameshwor', 89.0, 89.0, 78.0, 87.0, 78.0, 390, 80.0, 'A')
(3, 'Roshni', 72.0, 70.0, 65.0, 65.0, 75.0, 300, 65.0, 'B')
(4, 'Rohini', 60.0, 56.0, 65.0, 56.0, 87.0, 270, 58.0, 'C+')

In [12]:
db.execute("SELECT SN,Name,Total,Grade FROM student")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 450, 'A+')
(2, 'Shyameshwor', 390, 'A')
(3, 'Roshni', 300, 'B')
(4, 'Rohini', 270, 'C+')

In [14]:
sql='''INSERT INTO `student` (`SN`, `Name`, `Physics`, `Chemistry`, `Math`, `English`, `Nepali`, `Total`, `Percentage`, `Grade`) VALUES ('11', 'Amu', '90', '67', '60', '80', '78', '365', '83', 'A');'''
db.execute(sql)
database.commit()

IntegrityError: 1062 (23000): Duplicate entry '11' for key 'PRIMARY'

In [15]:
sql='''INSERT INTO `student` (`SN`, `Name`, `Physics`, `Chemistry`, `Math`, `English`, `Nepali`, `Total`, `Percentage`, `Grade`) VALUES ('11', 'Amu', '90', '67', '60', '80', '78', '365', '83', 'A');'''
db.execute(sql)
database.commit()

IntegrityError: 1062 (23000): Duplicate entry '11' for key 'PRIMARY'

In [16]:
sql='''INSERT INTO `student` (SN, Name, Physics, Chemistry, Math, English, Nepali,Total, Percentage, Grade) VALUES (14, 'Amu', 90, 67, 60, 80, 78, 365, 83, 'A');'''
db.execute(sql)
database.commit()

In [25]:
name=input("Enter name= ")
physics= float(input("Enter physics= "))
chemistry= float(input("Enter chemistry= "))
math= float(input("Enter math= "))
english= float(input("Enter english= "))
nepali= float (input("Enter nepali= "))

total= physics+chemistry+math+english+nepali
per= total/5
if per>= 80:
  grade='A'
elif per>= 60:
 grade= 'B'
elif per>=45:
 grade='C'
else:
    grade='F'

sql=f'''INSERT INTO `student` (Name, Physics, Chemistry, Math, English, Nepali,Total, Percentage, Grade) VALUES ('{name}','{physics}','{chemistry}', '{math
}','{english}', '{nepali}', '{total}', '{per}', '{grade}');'''
db.execute(sql)
database.commit()

Enter name= Anu
Enter physics= 76
Enter chemistry= 76
Enter math= 78
Enter english= 98
Enter nepali= 89

In [26]:
#Delete
sql="DELETE FROM student WHERE SN=14"
db.execute(sql)
database.commit()

In [27]:
#Update
sql="UPDATE student SET name= 'Urshana' WHERE name='Anu'"
db.execute(sql)
database.commit()